@model EOrdinacija_Baze.KorisnikUposlenikModel


@{
    Layout = "~/Views/Shared/LayoutKorisnik.cshtml";
    
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    
    HtmlHelper.ClientValidationEnabled = true;
    
}
<div style="color:rgb(54, 187, 65); text-align:center; text-transform: uppercase;"><b>@TempData["KorisnikIzmjenjen"]</b></div>
<div style="color:red; text-align:center; text-transform: uppercase;"><b>@TempData["Upozorenje"]</b></div>


<h2>Dodaj Uposlenika</h2>

@if (ViewBag.uzAcount==null){

    <p><ul id="menu">
    <li>@Html.ActionLink("Dodaj na osnovu vec napravljenog korisničkog računa","dodajUposlenikaVecNapravljenAcount","Korisnik")</li>
    <li>@Html.ActionLink("Izmjeni/obriši uposlenika","BrišiUposlenika","Korisnik")</li>        
        </ul></p>
    
}
@if (ViewBag.greska != null) { <p style="border:1px red">@ViewBag.greska</p> }

@using (Html.BeginForm("DodajUposlenika", "Korisnik", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Ime)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Ime)
            @Html.ValidationMessageFor(model => model.Korisnik.Ime)
        </td>
        </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Prezime)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Prezime)
            @Html.ValidationMessageFor(model => model.Korisnik.Prezime)
        </td>
        </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Ime_oca)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Ime_oca)
            @Html.ValidationMessageFor(model => model.Korisnik.Ime_oca)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Broj_licne)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Broj_licne)
            @Html.ValidationMessageFor(model => model.Korisnik.Broj_licne)
        </td>
        </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Email)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Email)
            @Html.ValidationMessageFor(model => model.Korisnik.Email)
        </td>
    </tr>
        <tr>
        <td class="editor-label" >
            @Html.LabelFor(model => model.Korisnik.Datum_rodjenja)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Datum_rodjenja)
            @Html.ValidationMessage("CustomError")
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Mjesto_rodjenja)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Mjesto_rodjenja)
            @Html.ValidationMessageFor(model => model.Korisnik.Mjesto_rodjenja)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Prebivalište)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Prebivalište)
            @Html.ValidationMessageFor(model => model.Korisnik.Prebivalište)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Username)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Username)
            @Html.ValidationMessage("CustomError1")
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Password)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Password)
            @Html.ValidationMessageFor(model => model.Korisnik.Password)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Telefon)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Telefon)
            @Html.ValidationMessageFor(model => model.Korisnik.Telefon)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.JMBG)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.JMBG)
            @Html.ValidationMessageFor(model => model.Korisnik.JMBG)
        </td>
            </tr>
        <tr>        
        <td class="editor-label">
            @Html.LabelFor(model => model.Uposlenik.Titula)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Uposlenik.Titula)
            @Html.ValidationMessageFor(model => model.Uposlenik.Titula)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Uposlenik.Zanimanje)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Uposlenik.Zanimanje)
            @Html.ValidationMessageFor(model => model.Uposlenik.Zanimanje)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Uposlenik.Biografija)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Uposlenik.Biografija)
            @Html.ValidationMessageFor(model => model.Uposlenik.Biografija)
        </td>
            </tr>
        <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Uposlenik.idOdjela)
        </td>
        <td class="editor-field">
            @if (ViewBag.odjeli != null)
            {
               @Html.DropDownListFor(model => model.Odjel.IdOdjela,
                ViewBag.odjeli as SelectList, "Odaberi odjel",new { style="width:310px ; height:30px" } );
            }
        </td>
            </tr>
        
        <tr>
        <td></td>
        <td>
            <input type="submit" value="Dodaj" />
        </td>
            </tr>
     
    </table>
}

<p>
    @Html.ActionLink("Nazad", "HomePage")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
