@model EOrdinacija_Baze.Oprema

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajLijek</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm("SaveLijek","Korisnik",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <table>
    <tr>
   
            <td class="editor-label">
                @Html.LabelFor(model => model.Naziv)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Naziv)
                @Html.ValidationMessageFor(model => model.Naziv)
            </td>
    </tr>
            <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Proizvodjac)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Proizvodjac)
                @Html.ValidationMessageFor(model => model.Proizvodjac)
            </td>
    
            </tr>
            <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Godina_proizvodnje)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Godina_proizvodnje)
                @Html.ValidationMessageFor(model => model.Godina_proizvodnje)
            </td>
    </tr>
            <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Opis)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Opis)
                @Html.ValidationMessageFor(model => model.Opis)
            </td>
    </tr>
            <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Cjena)
            </td>
            <td class="editor-field">
                @Html.EditorFor(model => model.Cjena)
                @Html.ValidationMessageFor(model => model.Cjena)
            </td>
    </tr>
            
        </table>
        
            <p>
                <input type="submit" value="Create" />
            </p>
    }  
</body>
</html>
