@model DHTMLX.Scheduler.DHXScheduler
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/LayoutKorisnik.cshtml";
}
<div style="color:rgb(54, 187, 65); text-align:center; text-transform: uppercase;"><b>@ViewBag.poruka</b></div>

<body>
    <header>
<div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title"> </p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">

                            @if (ViewBag.izm_priv == true) { <li>@Html.ActionLink("Privilegije", "UpravljanjePrivilegijama", "Korisnik")</li>}
                            @if (ViewBag.add_oprema == true) { <li>@Html.ActionLink("Oprema","dodajOpremu","Korisnik")</li>}
                             @if (ViewBag.addTermin == true) { <li>@Html.ActionLink("Zakaži termin", "AddTermin", "Korisnik")</li> }
                            @if (ViewBag.add_pacijent == true) { <li>@Html.ActionLink("Dodaj pacijenta", "DodajPacijenta", "Korisnik")</li> }
                            @if (ViewBag.del_doktor == true) { <li>@Html.ActionLink("Briši uposlenika", "BrišiUposlenika", "Korisnik")</li> }
                            @if (ViewBag.add_doktor == true) { <li>@Html.ActionLink("Dodaj uposlenika", "DodajUposlenika", "Korisnik")</li> }
                            <li>@Html.ActionLink("Logout", "Logout", "Korisnik")</li>
                        </ul>
                    </nav>
                </div>
            </div>
		
    </header>

    @if(ViewBag.doktor==true){
     <div style="height:1200px;width:900px;margin:80px auto" id="pokazi" >
       
         @Html.Raw(Model.Render())
       

    </div>
    
    }
 
        </body>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }