@model EOrdinacija_Baze.KorisnikPacijentSobaModel

@{
    ViewBag.Title = "DodajPacijenta";
    Layout = "~/Views/Shared/LayoutKorisnik.cshtml";
    HtmlHelper.ClientValidationEnabled = true;
}
<script type="text/javascript">
    function PopuniSobe() {
        var odjel = document.getElementById("odjel").childNodes[1];
        var soba = document.getElementById("soba").childNodes[1];
        var id = odjel.options[odjel.selectedIndex].value;

        for(i=0; i<soba.length; i++)
        {
            soba.remove(i);
        }

        @foreach(var s in Model.Sobe){
               
           <text>

        if ('@s.idOdjela' == id) {
            var option = document.createElement("option")
            option.text = '@s.brojSobe';
            option.value = '@s.IdSobe';
            soba.appendChild(option);
        }
        </text>          
        

    }
    }
</script>

<h2>Dodaj pacijenta</h2>


@using (Html.BeginForm("SpremiPacijentaSaAcountom","Korisnik",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div style="visibility:hidden">@Html.EditorFor(a=>a.Korisnik.IdKorisnika)
         @Html.EditorFor(a=>a.Korisnik.idPrivilegije)
    </div>
    
        <table>

        
        <tr>

        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Ime)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Ime)
            @Html.ValidationMessageFor(model => model.Korisnik.Ime)
        </td>
        </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Prezime)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Prezime)
            @Html.ValidationMessageFor(model => model.Korisnik.Prezime)
        </td>
        </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Ime_oca)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Ime_oca)
            @Html.ValidationMessageFor(model => model.Korisnik.Ime_oca)
        </td>
        </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Broj_licne)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Broj_licne)
            @Html.ValidationMessageFor(model => model.Korisnik.Broj_licne)
        </td>
        </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Email)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Email)
            @Html.ValidationMessageFor(model => model.Korisnik.Email)
        </td>
            </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Datum_rodjenja)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Datum_rodjenja)
            @Html.ValidationMessage("CustomError")
        </td>
        </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Mjesto_rodjenja)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Mjesto_rodjenja)
            @Html.ValidationMessageFor(model => model.Korisnik.Mjesto_rodjenja)
        </td>
                </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Prebivalište)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Prebivalište)
            @Html.ValidationMessageFor(model => model.Korisnik.Prebivalište)
        </td>
                </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Username)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Username)
            @Html.ValidationMessage("CustomError1")
        </td>
                </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Password)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Password)
            @Html.ValidationMessageFor(model => model.Korisnik.Password)
        </td>
                </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.Telefon)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.Telefon)
            @Html.ValidationMessageFor(model => model.Korisnik.Telefon)
        </td>
                </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Korisnik.JMBG)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Korisnik.JMBG)
            @Html.ValidationMessageFor(model => model.Korisnik.JMBG)
        </td>
                </tr>
             <tr class="editor-label">
                <td>@Html.Label("Odaberi odjel")</td>
                <td id="odjel">
            @if (ViewBag.odjeli != null)
            {
               @Html.DropDownList("Odaberi",ViewBag.odjeli as SelectList,new { onclick="PopuniSobe()", style="width:310px ; height:30px" });
            }
        </td>
            </tr>
            <tr>
                 <td class="editor-label">
            @Html.LabelFor(model => model.Soba.brojSobe)
        </td>
             <td id ="soba">
            @if (ViewBag.sobe != null)
            {
               @Html.DropDownListFor(model => model.Soba.IdSobe,
                ViewBag.sobe as SelectList, "Odaberi sobu",new { style="width:310px ; height:30px" });
            }
        </td>
       </tr>
           
            <tr>

        <td class="editor-label">
            @Html.LabelFor(model => model.Pacijent.Poslodavac)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Pacijent.Poslodavac)
            @Html.ValidationMessageFor(model => model.Pacijent.Poslodavac)
        </td>
        </tr>
             <tr>

        <td class="editor-label">
            @Html.LabelFor(model => model.Pacijent.Zaposlen)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Pacijent.Zaposlen)
            @Html.ValidationMessageFor(model => model.Pacijent.Zaposlen)
        </td>
        </tr>
            <tr>
        <td class="editor-label">
            @Html.LabelFor(model => model.Pacijent.Osiguran)
        </td>
        <td class="editor-field">
            @Html.EditorFor(model => model.Pacijent.Osiguran)
            @Html.ValidationMessageFor(model => model.Pacijent.Osiguran)
        </td>
                </tr>
            <tr>
                </tr>
            <tr>
       

        <td></td>
           <td> <input type="submit" value="Spremi" /></td>
        </tr>
    </table>
}

<div>
    @Html.ActionLink("Nazad", "HomePage")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
