@model EOrdinacija_Baze.kartoni

@{
    ViewBag.Title = "KreirajKarton";
}

<h2>KreirajKarton</h2>
@using (Html.BeginForm("KreirajKarton", "Doktor", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);
    <table>
        <tr>
            <td>@Html.LabelFor(a=>a.IdKartona)</td>
            <td>@Html.TextBoxFor(a=>a.IdKartona)</td>
            <td>@Html.ValidationMessageFor(a=>a.IdKartona)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.Misljenje_specijaliste)</td>
            <td>@Html.TextAreaFor(a=>a.Misljenje_specijaliste)</td>
            <td>@Html.ValidationMessageFor(a=>a.Misljenje_specijaliste)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.Dijagnoza)</td>
            <td>@Html.TextAreaFor(a=>a.Dijagnoza)</td>
            <td>@Html.ValidationMessageFor(a=>a.Dijagnoza)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.Primjedba)</td>
            <td>@Html.TextAreaFor(a=>a.Primjedba)</td>
            <td>@Html.ValidationMessageFor(a=>a.Primjedba)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.Ekg_slika)</td>
            <td><input type="file" name="Odaberi"</td>
        </tr>
        <tr><td><input type="submit" value="Kreiraj"</td></tr>
    </table>
}
