@model EOrdinacija_Baze.Korisnik

@{
    ViewBag.Title = "Login";
    HtmlHelper.ClientValidationEnabled = false;

}
<div style="color:rgb(54, 187, 65); text-align:center; text-transform: uppercase;"><b>@ViewBag.poruka</b></div>

<h2>Login</h2>

@using (Html.BeginForm("Login","Home", FormMethod.Post))
{
@Html.AntiForgeryToken()
    if(@ViewBag.Message != null)
    {
    <div style="border:1px solid red">
        @ViewBag.Message
    </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(a=> a.Username)</td>
            <td>@Html.TextBoxFor(a=>a.Username)</td>           

        </tr>
        <tr>
            <td>@Html.LabelFor(a=>a.Password)</td>
            <td>@Html.PasswordFor(a=>a.Password)</td>
            

        </tr>
       
        <tr><td><input type="submit" value="Login"</td>
            <td>@Html.ActionLink("Registruj se","Registracija","Home")</td>

        </tr>

    </table>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    }