@model IEnumerable<EOrdinacija_Baze.Korisnik>
@{
    Layout = "~/Views/Shared/LayoutKorisnik.cshtml";
}

<!DOCTYPE html>
<html>
<head>

    <title>Pregled termina</title>
    <style>
        body
        {
            background-color:#eee;
        }
    </style>
 
</head>
<body>
   <h3>Odaberite pacijenta za rezervisanje termina</h3>
    <p>
    @using (Html.BeginForm("PretragaUposlenika", "Calendar", FormMethod.Get))
    { 
    <table>
        <tr>
        <td> Unesi ime uposlenika </td>
        <td> @Html.TextBox("ime") </td>
       </tr>
        <tr>
            <td></td>
        <td><input type="submit" value="Pronađi" /></td>
            </tr>
    </table>
    
    }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime_oca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime_oca)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
       
        <td>
            @Html.ActionLink(
            "Prikaži kalendar",
            "PrikaziKalendar",
            "Calendar" , 
            new {  id = item.IdKorisnika },
            null) 
    
        </td>
    </tr>
}
    </table>
 <div>
    @Html.ActionLink("Nazad", "AddTermin","Korisnik")
</div>

</body>
</html>
